.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;              /* full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #020617;
  color: white;
  z-index: 1000;
  box-sizing: border-box;
}

.logo h2 {
  margin: 0;
}

.nav-button {
  background-color: #22c55e;
  border: none;
  padding: 0.5rem 1.2rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #07973c;
}

body {
  margin: 0;
  padding-top: 70px; /* offset for fixed navbar */
  box-sizing: border-box;
  background-color: #0f172a;
  /* overflow: hidden; */
}

.Logo {
  height: 30px;   /* adjust size as needed */
  width: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between button and welcome text */
}